<div data-template-extend="main"></div>

<div data-template-block="head">
    <title>Templating Demo</title>
</div>

<div data-template-block="content">
    <h2>Sample for including component</h2>

    <div data-template-include="component"></div>
    <p>Hello <span id="hello"></span></p>

    <p>The most important number is: <span id="goal"></span></p>
</div>

<div data-template-block="scripts">
    <script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&language=hu&extension=.js&libraries=geometry"
            type="text/javascript" charset="utf-8"></script>
</div>

<script data-template-block="code">
    var i = 1;

    function demo() {
        // calling from the client side, see the index.html.js which is bundled
        Hello('from the Browser #' + i++);
        setTimeout(demo, 1000);
    }

    // in the browser you can see Server for two second, then itt will change to Browser #...
    setTimeout(demo, 2000);
</script>
