<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script data-template-placeholder="head"></script>
</head>
<body>
<div data-template-placeholder="content"></div>
<div data-template-placeholder="scripts"></div>
<script data-template-block="code" type="text/javascript">
    var x = 123;
</script>
</body>
</html>
